# Entorno virtual
.venv/
venv/
env/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs y temporales
*.log
*.tmp

# Configuración local
*.env
.DS_Store

# Archivos de IDE
.vscode/
.idea/
